.video-block
  %h2 "BART Strike"
  .video-list{ng: {controller: "VideoListCtrl", init: "getData(#{@videos.to_json(include: {user: {only: :name}}, methods: [:votes_count, :voted])})"}}
    .video.big
      .image{style: "background-image: url('http://img.youtube.com/vi/{{videos[0].youtube_id}}/hqdefault.jpg')", ng: {click: 'play(videos[0])'}}
      .meta
        .name
          {{videos[0].user.name}}
        .vote{ng: {click: 'vote(videos[0])'}, class: 'voted-{{videos[0].voted}}'}
          .arrow
          {{videos[0].votes_count}}
    .video-wrap
      .video.small
        .image{style: "background-image: url('http://img.youtube.com/vi/{{videos[1].youtube_id}}/hqdefault.jpg')", ng: {click: 'play(videos[1])'}}
        .meta
          .name
            {{videos[1].user.name}}
          .vote{ng: {click: 'vote(videos[1])'}, class: 'voted-{{videos[1].voted}}'}
            .arrow
            {{videos[1].votes_count}}
      .video.small
        .image{style: "background-image: url('http://img.youtube.com/vi/{{videos[2].youtube_id}}/hqdefault.jpg')", ng: {click: 'play(videos[2])'}}
        .meta
          .name
            {{videos[2].user.name}}
          .vote{ng: {click: 'vote(videos[2])'}, class: 'voted-{{videos[2].voted}}'}
            .arrow
            {{videos[2].votes_count}}
      .video.small
        .image{style: "background-image: url('http://img.youtube.com/vi/{{videos[3].youtube_id}}/hqdefault.jpg')", ng: {click: 'play(videos[3])'}}
        .meta
          .name
            {{videos[3].user.name}}
          .vote{ng: {click: 'vote(videos[3])'}, class: 'voted-{{videos[3].voted}}'}
            {{videos[3].votes_count}}
      .video.small
        .image{style: "background-image: url('http://img.youtube.com/vi/{{videos[4].youtube_id}}/hqdefault.jpg')", ng: {click: 'play(videos[4])'}}
        .meta
          .name
            {{videos[4].user.name}}
          .vote{ng: {click: 'vote(videos[4])'}, class: 'voted-{{videos[4].voted}}'}
            .arrow
            {{videos[4].votes_count}}

  %a{href: "/"} see more videos