.row.premise
  .col-md-1
    .btn-lg.star
      %span.glyphicon.glyphicon-star.glyphicon-large
  .col-md-6
    %h4 Current competition premise
    %h2 "Submit a funny silly video for test, bro!"
  .col-md-5
    %a.submit.btn.btn-primary.btn-lg{href: "/profile"} submit a video <span class="glyphicon glyphicon-chevron-right"></span>