.row
  .col-xs-12
    %iframe{width: "560", height: "315", src:"//www.youtube.com/embed/qd6Bp5pf7u4", allowfullscreen: true, frameborder: 0}
    %ol
      %li
        Once a week we gonna announce a premise on this website
      %li
        You record a video of a joke about this premise - use your mobile phone or camera - about 30 seconds 1 minute max.
      %li
        Submit the video to the website
      %li
        Then after the deadline pass we will expose all videos
      %li
        People will vote for the most funny video.
      %li
        A person who got more votes - get more money.