@mixin triangle-down($color, $size) {
  width: 0;
  height: 0;
  border-left: $size solid transparent;
  border-right: $size solid transparent;
  border-top: $size solid $color;
  content: '';
}
@mixin triangle-up($color, $size) {
  width: 0;
  height: 0;
  border-left: $size solid transparent;
  border-right: $size solid transparent;
  border-bottom: $size solid $color;
  content: '';
}

h2 {
  font-size: 28px;
}

.premise {
  border-top: 1px solid rgba(0,0,0,0.3);
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

.video {
  -webkit-transition: all 0.1s ease-out;  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.1s ease-out;  /* Firefox 4-15 */
  -o-transition: all 0.1s ease-out;  /* Opera 10.50–12.00 */
  transition: all 0.1s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
  .image {
    width: 100%;
    height: 50px;
    background-color: black;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
  }
  &.big {
    width: 47.4%;
    float: left;
  }
  &.small {
    width: 23.7%;
    margin-left: 2.6%;
    float: right;
  }
  .meta {
    padding-top: 5px;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    height: 40px;
    .vote {
      position: absolute;
      right: 0;
      top: 5px;
    }
  }
}

.video-block {
  h2 {
    margin-bottom: 25px;
  }
}

.fade-block {
  -webkit-transition: all 0.1s ease-out;  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.1s ease-out;  /* Firefox 4-15 */
  -o-transition: all 0.1s ease-out;  /* Opera 10.50–12.00 */
  transition: all 0.1s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
  opacity: 0;
  &.shown-true {
    opacity: 1;
    z-index: 1;
  }
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.7);
  z-index: -1;
  content: '';
}

.player {
  z-index: 2;
  position: fixed;
  width: 100%;
  margin: auto;
  max-width: 960px;
  background: white;
  padding: 10px;
  .video {
    width: 60%;
  }
  #player {
    width: 100%;
  }
}