@mixin triangle-down($color, $size, $sharp) {
  width: 0;
  height: 0;
  border-left: $size solid transparent;
  border-right: $size solid transparent;
  border-top: $sharp solid $color;
  border-botton: none;
  content: '';
}
@mixin triangle-up($color, $size, $sharp) {
  width: 0;
  height: 0;
  border-top: none;
  border-left: $size solid transparent;
  border-right: $size solid transparent;
  border-bottom: $sharp solid $color;
  content: '';
}

h2 {
  font-size: 28px;
  font-weight: bold;
}

.premise {
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 7px 0px;
  margin-bottom: 20px;
  h4 {
    margin-bottom: 0px;
  }
  h2 {
    margin-top: 0px;
  }
  .submit {
    margin-top: 10px;
  }
  .star {
    margin-top: 15px;
  }
}

.video {
  -webkit-transition: all 0.1s ease-out;  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.1s ease-out;  /* Firefox 4-15 */
  -o-transition: all 0.1s ease-out;  /* Opera 10.50–12.00 */
  transition: all 0.1s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
  .image {
    width: 100%;
    height: 50px;
    background-color: black;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
  }
  &.big {
    width: 47.4%;
    float: left;
  }
  &.small {
    width: 23.7%;
    margin-left: 2.6%;
    float: right;
  }
  &.medium {
    width: 32%;
    margin-right: 2%;
    float: left;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  .meta {
    padding-top: 5px;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    height: 40px;
    .name {
      height: 22px;
      overflow: hidden;
    }
    .vote {
      background: rgba(255,255,255,0.9);
      padding-left: 5px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      position: absolute;
      right: 0;
      top: 5px;
      vertical-align: middle;
      &.voted-true {
        .arrow {
          background: green;
          &:after {
            display: block;
            margin-top: 2px;
            position: absolute;
            left: 8px;
            @include triangle-down(black, 8px, 18px);
          }
        }
      }
      &.voted-false {
        .arrow {
          background: gray;
          &:after {
            display: block;
            margin-top: 2px;
            position: absolute;
            left: 8px;
            @include triangle-up(black, 8px, 18px);
          }
        }
      }
      cursor: pointer;
      .arrow {
        content: '';
        border-radius: 100px;
        width: 23px;
        height: 23px;
        vertical-align: middle;
        display: inline-block;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

.video-block {
  h2 {
    margin-bottom: 25px;
  }
}

.fade-block {
  -webkit-transition: all 0.1s ease-out;  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.1s ease-out;  /* Firefox 4-15 */
  -o-transition: all 0.1s ease-out;  /* Opera 10.50–12.00 */
  transition: all 0.1s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
  opacity: 0;
  &.shown-true {
    opacity: 1;
    z-index: 1;
  }
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.7);
  z-index: -1;
  content: '';
}

.player {
  z-index: 2;
  position: fixed;
  width: 100%;
  margin: auto;
  max-width: 960px;
  background: white;
  padding: 10px;
  .video {
    width: 60%;
  }
  #player {
    width: 100%;
  }
}

.header {
  height: 90px;
  padding-top: 25px;
  h2 {
    margin-top: 5px;
  }
  #logo {
    color: black;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

@media only screen and (max-width: 560px) {
  .video-block .video {
    width: 100%;
  }
  .player {
    .video {
      width: 100%;
    }
  }
  #file {
    display: none;
  }
  .upload-view #file-button {
    display: block;
  }
}
#file-button {
  display: none;
}

.upload-button {
  margin-top: 50px;
}